* {
	box-sizing:border-box;
}

/*body{
	background:#000;
}

#holder{
	width:1800px;
	height:1800px;
	position:absolute;
	overflow:hidden;
	border-radius: 100%;
	background: #fff;
}*/

#screen{
	position:absolute;
}

#player, .critter{
	width:50px;
	height:50px;
	border-radius:50%;
	position:absolute;
	border-top-right-radius:0px;
	border-bottom-left-radius:40%;
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}

#center{
	position:absolute;
	width:10px;
	height:10px;
	background:#000;
	border-radius:50%;
	z-index:10;
}

.eye{
	position:absolute;
	left:30%;
	top:30%;
	width:40%;
	height:40%;
	background:#000;
	border: 13px solid #fff;
	border-radius: 100%;
}

#info{
	position:fixed;
	top:100px;
	right:1000px;
	font-size:100px;
}

.bar{
	position:absolute;
	top:0px;
	left:0px;
	border:10px black solid;
	height:100px;
	background:red;
	border-radius: 30px;


   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.bar:last-of-type{
	background:green;
	border-radius-right:0px; 
}