* {
	box-sizing:border-box;
}

/*body{
	background:#000;
}

#holder{
	width:1800px;
	height:1800px;
	position:absolute;
	overflow:hidden;
	border-radius: 100%;
	background: #fff;
}*/

#screen{
	position:absolute;
}

#player, .critter{
	width:50px;
	height:50px;
	border-radius:50%;
	position:absolute;
	border-top-right-radius:0px;
	border-bottom-left-radius:40%;
}

#center{
	position:absolute;
	width:10px;
	height:10px;
	background:#000;
	border-radius:50%;
	z-index:10;
}

.eye{
	position:absolute;
	left:30%;
	top:30%;
	width:40%;
	height:40%;
	background:#000;
	border: 13px solid #fff;
	border-radius: 100%;
}